<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FurEverHome</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <a href="/">FurEverHome</a>
      <div class="nav-right">
        <% if (user) { %>
        <a href="/Pets">Your Pets</a>
        <a href="/favorites">⭐️</a>
        <a href="/auth/sign-out">SIGN OUT</a>
        <span>Welcome <%= user.name %></span>
        <% } else { %> <% if (currentUrl === '/auth/sign-up') { %>
        <a href="/auth/sign-in">SIGN IN</a>
        <% } else if (currentUrl === '/auth/sign-in') { %>
        <a href="/auth/sign-up">SIGN UP</a>
        <% } else { %>
        <a href="/auth/sign-up">SIGN UP</a>
        <a href="/auth/sign-in">SIGN IN</a>
        <% } %> <% } %>
      </div>
    </nav>
    <main>
      <h1><%= title %></h1>
