body {
  padding-top: 56px;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.container {
  max-width: 1200px;
}

.navbar {
  background-color: #343a40;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  color: #ffffff !important;
}

.nav-link:hover {
  color: #d4d4d4 !important;
}

.btn-outline-success {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-success:hover {
  color: #343a40;
  background-color: #ffffff;
  border-color: #ffffff;
}