<%- include('../partials/header.ejs') %>

<div class="container">
  <h1><%= title %></h1>
  <form action="/pets" method="POST">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">
      <label for="breed">Breed:</label>
      <input type="text" class="form-control" id="breed" name="breed" required>
    </div>
    <div class="form-group">
      <label for="type">Type:</label>
      <input type="text" class="form-control" id="type" name="type" required>
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" class="form-control" id="age" name="age">
    </div>
    <div class="form-group">
      <label for="vaccination">Vaccination:</label>
      <textarea class="form-control" id="vaccination" name="vaccination" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="imageurl">Image URL:</label>
      <input type="text" class="form-control" id="imageurl" name="imageurl">
    </div>
    <div class="form-group">
      <label for="location">Location:</label>
      <input type="text" class="form-control" id="location" name="location">
    </div>
    <button type="submit" class="btn btn-primary mt-2">Add Pet</button>
  </form>
</div>

<%- include('../partials/footer.ejs') %>